
body{
  background: url('/img/main.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-size: 1200px; */
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: black;
}



.Board h4{
  font-size: 18px;
  font-weight: 300;
}

.character-box{
  height: 65vh;
  padding: 20px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.character:hover {
  transition: transform .2s ease-in-out;
  transform: scale(1.03,1.03);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1340px) {
  img.profile-pic {
    height: 140px;
  }
}

@media screen and (max-width: 860px) {
  img.profile-pic {
    height: 100px;
  }
}

@media screen and (max-width: 640px) {
  .App-header {
    height: 90px;
  }
  
  .App-header h1 {
    font-size: 30px;
  }

  .Board h4 {
    font-size: 14px;
  }
}
